{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    {% for product in products_serializer %}
        {{ product.name }}
    {% endfor %}
{% endblock %}

{% block content %}
    {% for product in products_serializer %}
        <div class="row">
            <div class="col">
                <div class="image_fruit">

                </div>
            </div>
            <div class="col">
                <p>{{ product.name }}</p>
                <div class="row">
                    <div class="col">
                        <p>{{ product.cost }}</p>
                        <p>за 1 кг</p>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-secondary" style="border:solid 1px; background: rgba(255, 138, 0,0.5);color:#000;">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <p>{{ product.cost }}</p>

    {% endfor %}
{% endblock %}
