{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                                        <h3 class="text-center mb-4">Корзина</h3>
                                        <div class="container row" id="cart-items-container">
                                            <!-- Разметка корзины -->
                                                {% include 'basket/includes/included_cart.html' %}
                                            <!-- Закончилась разметка корзины -->
                                        </div>
                                    </div>
                                </div>
</div>
{% endblock %}