{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
        <section class="new_section">
      <div class="container">
        <div class="row justify-content-between mx-2">
          <div class="col-sm-6 col-md-5 col-lg-5 new_modal_about" style="border-radius:34px;border:solid 1px;padding:20px;">
            <div class="row justify-content-around mt-3">
              <div class="col-5 col-sm-5 col-lg-5 col-md-5">
              <p><b>2015 год</b> <br />Основана компания</p>
            </div>
            <div class="col-5 col-sm-5 col-lg-5 col-md-5 mx-2">
              <p>
                <b>2000+</b><br />
                Магазинов по стране
              </p>
            </div>
              </div>
            <div class="row justify-content-around mt-3">
            <div class="col-5">
              <p><b>Более 1000</b> <br />Постоянных покупателей</p>
            </div>
            <div class="col-5 mx-2">
              <p><b>500</b> <br />Сотрудников</p>
            </div>
              </div>
          </div>
          <div class="col-sm-5 col-md-5 col-lg-5 text-center" style="border-radius:34px;border:solid 1px;padding:20px;">
            <p style="margin-bottom:0;">
              Мы - команда энтузиастов, которые разделяют страсть к качественной
              и свежей пище.<br />
              Наша цель - предложить вам самые вкусные и экзотические фрукты
              прямо из жарких тропиков, чтобы вы могли насладиться их уникальным
              вкусом.
            </p>
          </div>
        </div>
        </div>

    </section>

    <section class="my-4">
      <div class="container text-center">
        <img src="{% static 'main/img/heart.png' %}" style="width: 15%; height: 15%" />
        <p>
          Почему покупать в «Fru-ITs» разумно и выгодно? Ответ прост — «Fru-ITs»
          всегда рядом, цены низкие, ассортимент товаров разнообразен, для
          покупателей в магазинах действуют различные скидки.
        </p>
        <hr />
      </div>
    </section>
<section class="my-2">
      <div class="container">
        <div class="row justify-content-between align-items-center mx-2">
          <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center">
            <img
              src="{% static 'main/img/icon_watermelon.png' %}"
              class=""
              style="width: 15%; height: 15%"
            />
            <p>Свежесть и качество</p>
          </div>
          <div
            class="col-sm-5 col-md-5 col-lg-5 text-center"
            style="background: rgba(143, 255, 0, 0.5); border-radius:34px; padding:20px; border:solid 1px;"
          >
            <p style="margin-bottom:0;">
              Мы внимательно отбираем каждый фрукт, обеспечивая высокий уровень
              качества и свежести. <br>Мы сотрудничаем с надежными поставщиками со
              всего мира, чтобы гарантировать, что каждый фрукт, который вы
              заказываете у нас, будет соответствовать самым высоким стандартам.
            </p>
          </div>
        </div>
        <hr/>
      </div>
    </section>
    <section class="my-2">
      <div class="container">
        <div class="row justify-content-between align-items-center mx-2">
          <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center">
            <img
              src="{% static 'main/img/icon_watermelon.png' %}"
              class=""
              style="width: 15%; height: 15%"
            />
            <p>Низкие цены</p>
          </div>
          <div
            class="col-sm-5 col-md-5 col-lg-5 text-center"
            style="background: rgba(255, 138, 0,0.5); border-radius:34px; padding:20px; border:solid 1px;"
          >
            <p style="margin-bottom:0;">
              Наш магазин имеет самые приятные цены для покупателя, существуют скидки до 10% для постоянных покупателей
            </p>
          </div>
        </div>
        <hr/>
      </div>
    </section>
    <section class="my-2">
      <div class="container">
        <div class="row justify-content-between align-items-center mx-2">
          <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center">
            <img
              src="{% static 'main/img/icon_watermelon.png' %}"
              class=""
              style="width: 15%; height: 15%"
            />
            <p>Забота о сообществе</p>
          </div>
          <div
            class="col-sm-5 col-md-5 col-lg-5 text-center"
            style="background: rgba(255, 255, 255); border-radius:34px; padding:20px; border:solid 1px;"
          >
            <p style="margin-bottom:0;">
              Неизменно важное значение для нас имеет ваше удовлетворение и уверенность в том, что вы получаете продукт высочайшего качества. <br>
Мы постоянно работаем над улучшением наших систем и обновляем нашу платформу, чтобы предоставить вам наилучший онлайн-опыт покупок.

            </p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
