{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Каталог
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-between align-items-start">
        <div class="col-sm-4 col-md-4 col-lg-3 contact_modal_without">
            <form action="{% if request.GET.q %}{% url 'search' %}{% else %}{% url 'catalog' %}{% endif %}" method="get">
                {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{request.GET.q}}">
                {% endif %}
                <div class="dropdown mb-1">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1"
                        data-bs-toggle="dropdown" aria-haspopup="true" data-bs-auto-close="false" aria-expanded="true">
                        Категории товаров
                    </button>
                    <div class="dropdown-menu" style="padding:0;" aria-labelledby="dropdownMenu1">
                        {% for category in category %}
                            <label class="text-center my-2 mx-2"><img src="{{category.icon.url}}" class="icon_plus" style="padding-right:5px;"><input type="checkbox" name="category" value="{{ category.category_id }}" {% if category.category_id in select %} checked {% endif %}> {{ category.name }}</label><br><hr style="margin:0;">
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown mb-1">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-haspopup="true" data-bs-auto-close="false" aria-expanded="false">
                        Страна производителя
                    </button>
                    <div class="dropdown-menu" style="padding:0;" aria-labelledby="dropdownMenu2">
                        {% for country in countries %}
                            <label class="text-center my-2 mx-2"><input type="checkbox" name="country" value="{{ country.country_id }}" {% if country.country_id in select_country %} checked {% endif %}> {{ country.name }}</label><br><hr style="margin:0;">
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown mb-1">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu3"
                        data-bs-toggle="dropdown" aria-haspopup="true" data-bs-auto-close="false" aria-expanded="false">
                        Стоимость
                    </button>
                    <div class="dropdown-menu" style="padding:0;" aria-labelledby="dropdownMenu2">
                        <label class="text-center my-2 mx-2"><input type="radio" name="sort" value="ASC" {% if 'ASC' in select_sort %} checked {% endif %}> По возрастанию</label><br><hr style="margin:0;">
                        <label class="text-center my-2 mx-2"><input type="radio" name="sort" value="DESC" {% if 'DESC' in select_sort %} checked {% endif %}> По убыванию</label><br><hr style="margin:0;">
                        <label class="text-center my-2 mx-2"><input type="radio" name="sort" value="d" {% if 'd' in select_sort %} checked {% endif %}> Без сортировки</label><br><hr style="margin:0;">
                    </div>
                </div>
                <input type="submit" value="Показать" class="btn orange" style="background: rgba(255, 138, 0,0.5);">
            </form>
        </div>

        <div class="col-sm-6 col-md-8 col-lg-8 d-flex flex-wrap align-items-center cardio">
            {% if products %}
            {% for product in products %}
            <div class="card align-items-center text-center">
                <div class="card-body">
                    <img class="card-img" src="{{product.photo.url}}" alt="Card image cap">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.country}} 1 кг</p>
                    <p class="card-text">{{product.cost}} Р</p>
                    <a href="{% if user.is_authenticated %}{% url 'catalog' %}{% else %}{% url 'user:login' %}?message=1{% endif %}" class="btn btn-primary"
                       style="border:solid 1px;background: rgba(143, 255, 0, 0.5);color:#000;">В корзину</a>
                    <a href="product/{{product.slug}}" class="btn btn-secondary"
                       style="border:solid 1px; background: rgba(255, 138, 0,0.5);color:#000;">Подробнее</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <h3>Товаров по данному запросу не найдено</h3>
            {% endif %}
        </div>
    </div>
    {% if products.paginator.count > 2 %}
        <nav aria-label="Навигация" class="mx-4 text-center align-items-center">
            <ul class="pagination justify-content-center" style="margin-bottom:0;margin-top:10px;">
                <li class="page-item">
                    <a class="page-link" href="?page=1{% for cid in select %}&category={{ cid }}{% endfor %}{% for country in select_country %}&country={{ country }}{% endfor %}{% for sort in select_sort %}&sort={{sort}}{% endfor %}{% if request.GET.q %}%q={{q}}{% endif %}" aria-label="Первая">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in products.paginator.page_range %}
                            <li class="page-item"><a class="page-link {% if products.number == page %} active {% endif %}" href="?page={{page}}{% for cid in select %}&category={{ cid }}{% endfor %}{% for country in select_country %}&country={{ country }}{% endfor %}{% for sort in select_sort %}&sort={{sort}}{% endfor %}">{{ page }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}{% for cid in select %}&category={{ cid }}{% endfor %}{% for country in select_country %}&country={{ country }}{% endfor %}{% for sort in select_sort %}&sort={{sort}}{% endfor %}" aria-label="Последняя">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}