{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}


{% block content %}
{% csrf_token %}
<div class="container">
    {% if messages %}
                {% for message in messages %}
    <div class="alert alert-success fade show" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
    <section>
        <div class="slider mb-2">
            <div>
                <h2 class="slider-text col-lg-6 col-md-6 col-sm-6 " style="text-align:end;top:25%;left:70%;">Магазин открылся<br>Спешите приобрести фрукты</h2>
                <a class="slider-button">Купить</a>
                <img src="{% static 'main/img/first_image_slider.png' %}" class="slider-img">
            </div>
            <div>
                <h2 class="slider-text">Второй текст</h2>
                <a class="slider-button">Авторизоваться</a>
                <img src="{% static 'main/img/second_image_slider.jpg' %}" class="slider-img">
            </div>
            <div>
                <h2 class="slider-text">Третий текст</h2>
                <a class="slider-button">Связаться</a>
                <img src="{% static 'main/img/third_image_slider.jpg' %}" class="slider-img">
            </div>
            <div>
                <img class="prev controlls slider-controlls" src="{% static 'main/img/prev_icon.png' %}">
            </div>
            <div>
                <img class="next controlls slider-controlls" src="{% static 'main/img/next_icon.png' %}">
            </div>

        </div>
    </section>
    <section>
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap align-items-center cardio">
            {% for product in products %}
            <div class="card align-items-center text-center">
                <div class="card-body">
                    <img class="card-img" src="{{product.photo.url}}" alt="Card image cap">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.country}} 1 кг</p>
                    <p class="card-text">{{product.cost}} Р</p>
                    <a href="{% if user.is_authenticated %}{% url 'catalog' %}{% else %}{% url 'user:login' %}?message=1{% endif %}" class="btn btn-primary"
                       style="border:solid 1px;background: rgba(143, 255, 0, 0.5);color:#000;">В корзину</a>
                    <a href="product/{{product.slug}}" class="btn btn-secondary"
                       style="border:solid 1px; background: rgba(255, 138, 0,0.5);color:#000;">Подробнее</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
        <section class="mb-2">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-1"><h3>Наши преимущества</h3></div>
        <div class="row justify-content-between text-center align-items-center mb-1">
            <div class="d-block col-lg-3 col-md-4 col-sm-4">
                <img src="{% static 'main/img/apple_icon.png' %}" alt="Свежие фрукты" class="main_icon">
                <p style="margin-bottom:0;">Свежие фрукты</p>
            </div>
            <div class="d-block col-lg-3 col-md-4 col-sm-4">
                <img src="{% static 'main/img/shopping_icon.png' %}" alt="Низкие цены" class="main_icon">
                <p style="margin-bottom:0;">Низкие цены</p>
            </div>
            <div class="d-block col-lg-3 col-md-4 col-sm-4">
                <img src="{% static 'main/img/open_store_icon.png' %}" alt="Давно на рынке" class="main_icon">
                <p style="margin-bottom:0;">Давно на рынке</p>
            </div>
        </div>
</section>
    <section>
        <div class="col-lg-12 col-md-12 col-sm-12 mb-1"><h3>Специально для вас</h3></div>
        <div class="row justify-content-between text-center align-items-center">
            <div class="col-lg-5 col-md-4 col-sm-4">
                {% if user.is_authenticated %}
                <a class="btn orange_bigger knopo4ka_index" href="{% url 'catalog' %}" style="background: rgba(143, 255, 0, 0.5);padding-top:25px;padding-bottom:25px;"><p>Перейти в каталог</p></a>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 knopo4ka_index">
                <p style="margin-bottom:0;">Вы уже вошли в аккаунт. Нажмите на кнопку чтобы перейти к покупкам.</p>
                {% else %}
                <a class="btn orange_bigger knopo4ka_index" href="{% url 'user:login' %}" style="background: rgba(143, 255, 0, 0.5);padding-top:25px;padding-bottom:25px;">Вход или регистрация</a>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-4 knopo4ka_index">
                <p style="margin-bottom:0;">Войдите на сайт, чтобы иметь возможность
заказывать фрукты, а также  видеть историю своих покупок</p>
                {% endif %}
            </div>
    </section>
</div>


{% endblock %}