@font-face {
  font-family: "Comfortaa";
  src: url(./font/comfortaa/static/Comfortaa-Regular.ttf);
}
body {
  font-family: "Comfortaa";
}
.new_section {
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (hover:hover){
    .model_item input:hover {
        transform:scale(1.04)
    }
    .orange:hover {
        border:solid 1px;
        transform:scale(1.02);
    }
    .slider-button.active:hover{
        background: rgba(143, 255, 0, 1);
        cursor:pointer !important;
    }
    .orange_bigger:hover{
        border:solid 1px;
        transform:scale(1.03);
    }
    .card > :hover {
        border-radius:30px;
        cursor:pointer;
        box-shadow: 0 0 32px rgba(0, 0, 0, .2);
    }
    .card a:hover{
        transform:scale(1.04);
    }
    .header_effect:hover{
        opacity: 0.6;
        transform: scale(1.04);
    }

}

@media (hover:none){
    .model_item input:active{
        transform:scale(1.04)
    }
    .orange:active {
        transform:scale(1.02);
    }
    .orange_without:active{
        background: rgba(143, 255, 0, 0.5);
        cursor:pointer;
    }
    .orange_bigger:active{
        transform:scale(1.03);
    }
    .card > :active {
        border-radius:30px;
        cursor:pointer;
        box-shadow: 0 0 32px rgba(0, 0, 0, .2);
    }
    .card a:active{
        transform:scale(1.04);
    }
    .header_effect:active{
        opacity: 0.6;
        transform: scale(1.04);
    }
    .navbar-toggler:active{
        box-shadow:0px 0px 5px 5px black;
    }
}


.model_item h3 {
  font-size: calc(16px + 4 * (100vw - 320px) / 880);
  font-weight: bold;
}
.model_item p {
  font-size: calc(12px + 4 * (100vw - 320px) / 880);
  opacity: 0.6;
}
hr {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.header_effect{
    transition: all 0.1s ease-in
}

.link-danger:hover{
    transform:scale(1.09);
}

.kart_tovar{
    border-radius:20px;
    border:solid 1px;
    padding:20px;
}
@media(max-width:575px){
    .new_modal_about{
        margin-bottom:5%;
    }
    .sectiya{
        margin-top:5%;
    }
    .cardio{
        justify-content:space-around;
    }
    .about_product{
        text-align:center;
    }
    .card-img{
        width:140px;
        height:140px;
    }
    hr {
        margin-top:25px;
        margin-bottom:25px;
    }
    .contact_modal{
        margin-bottom:30px;
    }
    .contact_modal_without{
        margin-bottom:30px;
    }
    .icon_image{
        width: 32px;
        height: 32px;
    }
    .green_heart{
        width:64px;
        height:64px;
    }
    .social-icons-footer{
        width:40%;
    }
    .few_margin_top{
        margin-top:20px;
        padding-left:20px;
    }
    .bigger_button{
        width:70%;
        height:70%;
    }
    .icon_plus{
        width:32px;
        height:32px;
    }
    .search_ul_header{
        justify-content:center;
    }
    .main_icon{
        width:64px;
        height:64px;
    }
    .orange_bigger{
        width:256px;
        height:75px;
    }
    .knopo4ka_index{
        margin-top:20px;
    }
    .dropdown-menu.show{
        width:70%;
        margin-right:auto;
        margin-left:auto;
    }
    .navbar_textio{
        font-size: 1.2rem !important;
        font-weight:bolder;
    }
    .slider{
        width:100%;
        height:350px;
    }
    .slider-text{
        text-align:center !important;
        left:50% !important;
        margin-top:30px;
        margin-right:40px;
    }
    .slider-button{
        left:50% !important;
    }
    .nal_margin{
        margin-top:20px;
    }
}

@media(min-width:576px){
    .contact_modal{
        height:400px;
        margin-bottom:0%;
    }
    .cardio{
        justify-content: space-around;
        padding:0;
    }
    .col-md-5{
        width:45%;
    }
    .card-img{
        width:180px;
        height:180px;
    }
    hr {
        margin-top:2%;
        margin-bottom:2%;
    }
    .contact_modal_without{
        margin-bottom:0%;
    }
    .liquid{
        margin-top:2%;
        margin-bottom:2%;
    }
    .liquid-down{
        margin-bottom:2%;
    }
    .icon_image{
        width: 64px;
        height: 64px;
    }
    .green_heart{
        width:15%;
        height:15%;
    }
    .social-icons-footer{
        width:75%;
    }
    .few_margin_top{
        margin-top:0px;
    }
    .bigger_button{
        width:50%;
        height:50%;
    }
    .icon_plus{
        width:32px;
        height:32px;
    }
    .search_container_header{
        display:flex;
        flex-wrap:wrap;
    }
    .search_ul_header{
        justify-content:end;
    }
    .main_icon{
        width:75px;
        height:75px;
    }
    .orange_bigger{
        width:270px;
        height:80px;
    }
    .dropdown-menu.show{
        width:100%;
    }
    .navbar_textio{
        font-size: 1.5rem !important;
        font-weight:bolder;
    }
    .slider{
        width:100%;
        height:500px;
    }
    .slider-text{
        line-height:2;
        margin-top:30px;
    }
    .nal_margin{
        margin-top:0px;
    }

}

@media(min-width:1024px){
    .main_icon{
        width:90px;
        height:90px;
    }
    .slider-text{
        line-height:5;
        margin-top:30px;
    }
}
.card {
  border-radius:30px;
  width: 18rem;
  border: solid 1px;
  transition: all 2s ease-in;
  flex-direction:row;
  margin-bottom:20px;
}

.card > :hover {
   border-radius:30px;
   cursor:pointer;
   box-shadow: 0 0 32px rgba(0, 0, 0, .2);
}

.card a:hover{
    transform:scale(1.04);
}
#image_footer{
    min-width:64px;
    min-height:64px;
}

.dropdown-menu.show{
    margin-bottom:10px !important;
    position:relative !important;
    transform:none !important;
}

.orange {
    border:solid 1px;
    color:#000;
    transition: all 0.1s ease-in-out;
}

.orange_without {
    border:solid 1px;
    color:#000;
    transition: all 0.1s ease-in-out;
    opacity:1;
}

.orange_bigger {
    border:solid 1px;
    color:#000;
    transition: all 0.1s ease-in-out;
}

.active_header{
    text-decoration: underline rgba(143, 255, 0, 0.5);;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

.slider{
    position:relative;
    overflow:hidden;
    border:solid 1px;
    border-radius:20px;
}

.slider-img{
    width:100%;
    height:100%;
    position:absolute;
    opacity:0;
    transition: opacity 0.7s ease;
}

.slider-img.active{
    opacity:1;
}

.slider-controlls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:1;
}

.slider-text{
    position: absolute;
    text-align:end;
    top:25%;
    left:70%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity:0;
}

.slider-text.active{
    opacity:1;
}

.slider-button{
    position: absolute;
    top:75%;
    left:90%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity:0;
}
.slider-button.active{
    opacity:1;
    z-index:2;
}

.slider .prev{
    width:3rem;
    left:10px;
}

.slider .prev:hover{
    opacity:0.7;
    cursor:pointer;
}
.slider .next{
    width:3rem;
    right:10px;
}

.slider .next:hover{
    opacity:0.7;
    cursor:pointer;
}

.active_jg_notificataion{
    visibility:visible !important;
}

.model_items {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 3%;
}

.model_item {
  width: inherit;
  height: 60%;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #ffffff;
  box-shadow: 0px 9px 44px -10px rgba(0, 0, 0, 0.5);
}

.model_item input {
  font-size: calc(12px + 4 * (100vw - 320px) / 880);
  border: #fff;
  border-radius: 35px;
  text-align: center;
  padding: 10px;
  filter: drop-shadow(3px 4px 10px rgba(0, 0, 0, 0.25));
}

.model_item img {
  width: calc(30px + 15 * (100vw - 320px) / 880);
  height: 20%;
}



.social-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 40%;
  height: 50%;
}

.social-icons-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .social-icons {
    width: 100%;
  }
}

.social-icon {
  transition: all 0.2s ease-in-out;
}
.social-icon img {
  min-width: 28px;
  min-height: 28px;
  width: 2vw;
  height: 2vw;
}
.social-icon:hover {
  opacity: 0.6;
}
.container h3 {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: calc(16px + 5 * (100vw - 320px) / 880);
}
.container p {
  font-size: calc(16px + 3 * (100vw - 480px) / 1024);
}

.model_item_po4ta {
  display: flex;
  flex-wrap: nowrap;
  width: inherit;
  align-items: center;
  height: 60%;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #ffffff;
  box-shadow: 15px 9px 44px -10px rgba(0, 0, 0, 0.25);
}

.model_item_po4ta img {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  min-width: 32px;
  min-height: 32px;
  width: 8%;
  height: 8%;
}

#carouselExampleCaptions {
  margin: auto;
  width: 75%;
  height: 75%;
}

.carousel-caption input {
  padding: auto;
  border: none;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  color: #000000;
  font-size: calc(14px + 4 * (100vw - 320px) / 880);
  outline: 0;
}

.carousel-caption p {
  padding-bottom: 30%;
  font-size: calc(14px + 4 * (100vw - 320px) / 880);
}

@media (max-width: 576px) {
  .carousel-caption p {
    padding-bottom: 0px;
  }
}

.carousel-item img {
  filter: brightness(40%);
}
.model_item_orange {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 60%;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #ff8a00;
  box-shadow: 0px 9px 44px -10px rgba(0, 0, 0, 0.5);
}

.model_item_orange img {
  justify-content: left;
  width: 10%;
  height: 10%;
}
.model_item_orange p {
  margin: auto;
  font-size: calc(14px + 5 * (100vw - 480px) / 1000);
}

.model_item_green {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 80%;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #8fff00;
  box-shadow: 0px 9px 44px -10px rgba(0, 0, 0, 0.5);
}

.model_item_green img {
  justify-content: right;
  width: 10%;
  height: 10%;
}
.model_item_green p {
  margin: auto;
  font-size: calc(14px + 5 * (100vw - 480px) / 1000);
}

.model_items_helpful {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 10%;
}


.model_item_arbyz {
  position: relative;
  width: inherit;
  height: 60%;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #ffffff;
  box-shadow: 0px 9px 44px -10px rgba(0, 0, 0, 0.5);
}
.model_item_arbyz span {
  left: 0;
  bottom: 0;
  margin-left: 50%;
  margin-bottom: 50%;
  position: absolute;
}

.connection_wrapper {
  display: flex;
  flex-wrap: nowrap;
}
.parent {
  margin-top: -10px;
  margin-left: 1%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parent img {
  padding: 5%;
  border-radius: 15%;
  width: 85%;
  box-shadow: 1px 0px 14px 2px rgba(0, 0, 0, 0.25);
}

.textio {
  margin: auto;
  width: 75%;
  color: #000;
  text-align: center;
  margin-top: -50%;
  margin-left: 5%;
  margin-right: 0;
  line-height: 40px;
  font-size: calc(12px + 6 * (100vw - 480px) / 1000);
}
.contentio {
  width: 50%;
}
.contentio input {
  padding: auto;
  border: none;
  width: 40%;
  height: 35%;
  border-radius: 40px;
  background: #ff8a00;
  color: white;
  font-size: calc(12px + 4 * (100vw - 640px) / 880);
  outline: 0;
  transition: all 0.1s ease-in-out;
}
.contentio input:hover {
  background: #e77b00;
  opacity: 0.9;
}

.contentio p {
  font-size: calc(16px + 4 * (100vw - 1000px) / 880);
}

.list-unstyled li {
  font-size: calc(14px + 5 * (100vw - 1000px) / 880);
}

.list-unstyled li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in;
}

.list-unstyled li a:hover {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}

.new_register {
  margin-top: 6%;
}
.model_items_about {
  width: inherit;
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.model_item_about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 45%;
  height: inherit;
  padding: 15px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #ffffff;
  box-shadow: 0px 4px 34px -10px rgba(0, 0, 0, 0.5);
}
.model_item_about div {
  width: 50%;
}
.qwerty {
  margin-left: 5%;
}
.qwerty p {
  margin-left: 10px;
}
.model_item_about p {
  font-size: calc(14px + 5 * (100vw - 1000px) / 880);
  line-height: 2;
  padding: 5%;
}
.model_items_catalog {
  width: inherit;
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background: #868686;
  box-shadow: 0px 4px 34px -10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.model_item_catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 33%;
  height: inherit;
  padding: 15px;
  flex-shrink: 0;

  background: #ffffff;
}
.col-sm img {
  width: 24px;
  height: 24px;
}
.dropdown-item {
  font-size: 14px;
}
#fruit {
  position: relative;
  width: 80%;
  border: none;
}
#rower {
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background: #e6e6e6;
  margin-left: 1%;
  margin-right: 1%;
}
.col-sm {
  margin-top: 1%;
  margin-bottom: 1%;
  background: #fff;
  border-radius: 34px;
  box-shadow: 0px 4px 34px -10px rgba(0, 0, 0, 0.5);
}
.col-lg {
  margin-top: 0;
}

#naiti {
  cursor: pointer;
  padding-top: 6px;
}
#naiti:hover {
  transform: scale(1.02);
}
.list-group-item {
  border: none;
  border-bottom: solid;
  border-width: 0.1px;
}

.list-group-item img {
  width: 15%;
  height: 10%;
  padding-right: 10px;
  min-width: 32px;
  min-height: 32px;
}
.fotka {
  align-items: center;
}
.fotka img {
  border-radius: 34px;
  width: 70%;
  height: 80%;
}
.fotka input {
  border: #747373;
  border-radius: 34px;
  width: 80%;
  height: 15%;
  min-height: 20px;
  background-color: #fff;
  box-shadow: 5px 4px 10px 0.1px rgba(0, 0, 0, 0.5);
  font-size: calc(12px + 5 * (100vw - 1000px) / 880);
}
.model_items_tovar {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
  height: inherit;
  padding: 15px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 4px 4px 15px 0.5px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  border-radius: 20px;
}
.model_items_modal {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
  height: inherit;
  padding: 15px;
  flex-shrink: 0;
  background: #fff;
  justify-content: space-between;
}
.model_items_tovar_modal {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
  height: inherit;
  padding: 15px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 4px 4px 15px 0.5px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  border-radius: 20px;
}
.main_char {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(14px + 5 * (100vw - 1000px) / 880);
}
.main_char input {
  width: 100%;
  font-size: calc(12px + 5 * (100vw - 1000px) / 880);
}
.tovar p {
  font-size: calc(12px + 5 * (100vw - 1000px) / 880);
}

#dropdownMenuLink {
  font-size: calc(14px + 4 * (100vw - 1000px) / 2000);
}
.podrobnee {
  border: #747373;
  border-radius: 34px;
  width: 80%;
  height: 15%;
  min-height: 20px;
  background-color: #fff;
  box-shadow: 5px 4px 10px 0.1px rgba(0, 0, 0, 0.5);
  font-size: calc(12px + 5 * (100vw - 1000px) / 880);
}
.podrobnee:hover {
  transform: scale(1.04);
}
#text_primer {
  font-size: calc(12px + 5 * (100vw - 1000px) / 880);
}

@media (min-width: 992px) {
    .col-mine {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-mine-other{
        flex: 0 0 auto;
        width:70%;
    }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .col-mine{
    flex: 0 0 auto;
    width: 25%;
  }
  .col-mine-other{
    flex: 0 0 auto;
    width:70%;
  }
}